body {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}


/*------------------------- main container ---------------------------------*/

#container {
    height: fit-content;
    width: 100%;
    background: rgb(196, 251, 249);
    position: relative;
    overflow: hidden;
    margin: auto;
    transition: all 1s;
    text-align: center;
}


/*-------------------------------------------------ปาก------------------------------------------*/

:root {
    --y: 0;
    --h: 0;
    --s: 0;
}

.text_title {
    position: absolute;
    /* margin: 0% 25% 0% 25%; */
    border: solid 8px;
    border-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    left: 19%;
}

p#title {
    font-size: 2.6em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

#post {
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 0;
    background: #fffc;
}

#mouth {
    height: 1500px;
    widows: 100%;
    position: relative;
    margin: auto;
    width: 100%;
    /* left: 50%; */
    /* justify-content: center; */
    transition: all 0.5s;
    padding: 0px;
}

#jawUP {
    width: 50%;
    left: 25%;
    height: 30vw;
    top: 10%;
    transform: scale(calc((var(--h) + 1)));
    position: absolute;
    text-align: center;
}

.jawUPin {
    width: 100%;
}

.jawDOWNin {
    width: 100%;
}

#jawDOWN {
    width: 50vw;
    height: 30vw;
    left: 25%;
    position: absolute;
    top: calc(( var(--y) + 20) * 10px);
    transform: scale(calc((var(--h) + 1)));
}

.button {
    background-color: rgb(196, 251, 249);
    /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    top: 55%;
    left: 80%;
    position: absolute;
    z-index: 2;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.button1 {
    background-color: rgb(196, 251, 249);
    color: black;
    border: 2px solid #3768c2;
}

.button1:hover {
    background-color: #209be2;
    color: white;
}

.text_m {
    width: 30%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: absolute;
    top: 50%;
    /* opacity:0%; */
    transition: all 1s;
    transition-delay: 0.25s;
    left: 10%;
}

.text_m2 {
    width: 50%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: absolute;
    top: 60%;
    /* opacity:0%; */
    font-size: 1.4rem;
    transition: all 1s;
    transition-delay: 0.25s;
    left: 50%;
}

.saliva1 {
    width: 50px;
    height: 50px;
    /* border-radius: 100%; */
    /* background-color: blue; */
    top: calc(( var(--y) + 20) * 10px);
    left: 50%;
    position: absolute;
    transition: 2s;
    animation: sal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

.saliva2 {
    width: 6vw;
    height: 6vw;
    /* border-radius: 100%; */
    /* background-color: blue; */
    top: calc(( var(--y) + 20) * 10px);
    left: 40%;
    position: absolute;
    transition: 2s;
    animation: sal 3s infinite;
    z-index: 1;
}

.saliva3 {
    width: 7vw;
    height: 7vw;
    /* border-radius: 100%; */
    /* background-color: blue; */
    top: calc(( var(--y) + 20) * 10px);
    left: 30%;
    position: absolute;
    transition: 2s;
    animation: sal1 2s infinite;
    z-index: 1;
}

.saliva4 {
    width: 4.5vw;
    height: 4.5vw;
    /* border-radius: 100%; */
    /* background-color: blue; */
    top: calc(( var(--y) + 20) * 10px);
    left: 70%;
    position: absolute;
    transition: 2s;
    animation: sal 5s infinite linear;
    z-index: 1;
}

.saliva5 {
    width: 3vw;
    height: 3vw;
    /* border-radius: 100%; */
    /* background-color: blue; */
    top: calc(( var(--y) + 20) * 10px);
    left: 20%;
    position: absolute;
    transition: 2s;
    animation: sal1 5s infinite linear;
    z-index: 1;
}

#mouth[data-scene="on"] #t_m2 {
    opacity: 100%;
}

#mouth[data-scene="off"] #t_m2 {
    opacity: 0%;
}

#mouth[data-scene="on"] .saliva1 {
    opacity: 100%;
}

#mouth[data-scene="off"] .saliva1 {
    opacity: 0%;
}

#mouth[data-scene="on"] .saliva2 {
    opacity: 100%;
}

#mouth[data-scene="off"] .saliva2 {
    opacity: 0%;
}

#mouth[data-scene="on"] .saliva3 {
    opacity: 100%;
}

#mouth[data-scene="off"] .saliva3 {
    opacity: 0%;
}

#mouth[data-scene="on"] .saliva4 {
    opacity: 100%;
}

#mouth[data-scene="off"] .saliva4 {
    opacity: 0%;
}

#mouth[data-scene="on"] .saliva5 {
    opacity: 100%;
}

#mouth[data-scene="off"] .saliva5 {
    opacity: 0%;
}


/* #mouth[data-scene="off"] .button{
  	opacity:100%;
}
#mouth[data-scene="on"] .button{
  	opacity:0%;
} */

@keyframes sal {
    0% {
        transform: translate(100px, 500px) rotate(0deg);
    }
    25% {
        transform: translate(70px, 120px) rotate(180deg);
    }
    50% {
        transform: translate(130px, 170px) rotate(270deg);
    }
    100% {
        transform: translate(100px, 500px) rotate(360deg);
    }
}

@keyframes sal1 {
    0% {
        transform: translate(50px, 300px) rotate(0deg);
    }
    25% {
        transform: translate(70px, 120px) rotate(90deg);
    }
    50% {
        transform: translate(100px, 200px) rotate(180deg);
    }
    100% {
        transform: translate(50px, 300px) rotate(360deg);
    }
}


/*------------------------------------------------หลอดอาหาร-------------------------------------------------*/

#esophagus {
    width: 100%;
    position: relative;
    height: 1000px;
}

#eso_img_l {
    height: 100%;
    position: absolute;
    /* left: 0%; */
    transition: all 0.5s;
}

#eso_img_r {
    height: 100%;
    position: absolute;
    /* right: 0%; */
    transition: all 0.5s;
}

#esophagus[data-scene="acc"] #eso_img_l {
    left: -50%;
}

#esophagus[data-scene="dis"] #eso_img_l {
    left: 0%;
}

#esophagus[data-scene="acc"] #eso_img_r {
    right: -50%;
}

#esophagus[data-scene="dis"] #eso_img_r {
    right: 0%;
}

.text_s {
    width: 30%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: absolute;
    top: 45%;
    /* opacity:0%; */
    transition: all 1.5s;
    transition-delay: 0.25s;
    left: 35%;
    font-size: 4rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 2;
}

.text_s2 {
    width: 30%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: absolute;
    top: 60%;
    /* opacity:0%; */
    transition: all 1.5s;
    transition-delay: 0.25s;
    left: 35%;
    font-size: 2rem;
    z-index: 2;
}

#container[data-scene="esophagus"] {
    background: rgb(230, 178, 172);
    transition: 1s;
}

#food1 {
    width: 100%;
}

.item1 {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 50%;
    animation: spin 2s infinite linear;
}

#food2 {
    width: 100%;
}

.item2 {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 30%;
    animation: spin 3s infinite linear;
}

#food3 {
    width: 100%;
}

.item3 {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 60%;
    animation: spin 4s infinite linear;
}

#food4 {
    width: 100%;
}

.item4 {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 20%;
    animation: spin 2.3s infinite linear;
}

@keyframes spin {
    0% {
        top: 0%;
        opacity: 0%;
        transform: rotate(0deg)
    }
    10% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        top: 100%;
        opacity: 0%;
        transform: rotate(360deg)
    }
}


/*------------------------------------------------กระเพาะ-------------------------------------------------*/

#container[data-scene="stomach"] {
    background: rgb(246, 192, 186);
    transition: 1s;
}

#stomach {
    width: 100%;
    height: 1100px;
    position: relative;
    overflow: hidden;
}

.dropper {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    opacity: 0%;
}

.dropping {
    animation: drop 2s forwards;
}

.textbox {
    width: 250px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: absolute;
    opacity: 0%;
    transition: all 1s;
    transition-delay: 0.25s;
    text-align: start;
}

#t1 {
    top: 300px;
    right: -50%;
}

#t2 {
    width: 50%;
    max-width: 600px;
    left: -50%;
    top: 400px;
}

#check {
    position: absolute;
    bottom: 100px;
    left: 40%;
    height: 300px;
    width: 300px;
    opacity: 0%;
}

#tick {
    transform: scale(0.5);
}

.float {
    animation: mark 2s forwards;
}

#stomachwall-left {
    position: absolute;
    top: 0;
    left: -50%;
    transition: 1s;
    max-width: 50%;
}

#stomachwall-right {
    position: absolute;
    top: 0;
    right: -50%;
    transition: 1s;
    max-width: 50%;
}

#stomachwall-bottom {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: -50%;
    transition: 1s;
    max-width: 700px;
}

#nutrient {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 700px;
    right: -50%;
    border: 1px solid white;
    background: rgb(145, 167, 167);
    border-radius: 20px;
    transition: 1.3s;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

#acid {
    width: 100%;
    bottom: 0;
    background: linear-gradient( rgba(185, 255, 150, 1) 30%, rgb(246, 192, 186));
    position: absolute;
    transition: 1s;
}

.temp {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(246, 255, 198);
    transition: 0.3s;
}

.temp:hover {
    transform: scale(1.2);
}

.temp:nth-child(2) {
    background: rgb(126, 158, 120);
}

.temp:nth-child(3) {
    background: rgb(255, 178, 106);
}

.temp:nth-child(4) {
    background: rgb(255, 93, 93);
}

.temp:nth-child(5) {
    background: rgb(149, 255, 255);
}

#container[data-scene="stomach"] #stomachwall-right {
    right: 0px;
}

#container[data-scene="stomach"] #stomachwall-left {
    left: 0px;
}

#container[data-scene="stomach"] #stomachwall-bottom {
    left: 0px;
}

#container[data-scene="stomach"] #t1 {
    opacity: 100%;
    right: 12%;
}

#container[data-scene="stomach"] #t2 {
    opacity: 100%;
    left: 10%;
}

#container[data-scene="stomach"] #acid {
    height: 150px;
    animation: wobble 5s infinite;
    animation-delay: 1s;
}

#container[data-scene="stomach"] #nutrient {
    right: 10%;
}

@keyframes wobble {
    0% {
        height: 150px;
    }
    25% {
        height: 250px;
    }
    50% {
        height: 150px;
    }
    75% {
        height: 250px;
    }
    100% {
        height: 150px;
    }
}

@keyframes drop {
    100% {
        top: 90%;
        opacity: 100%;
        transform: rotate(50deg)
    }
}

@keyframes mark {
    100% {
        transform: translateY(-200px);
        opacity: 100%;
    }
}

/* Jimrobo */