.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper-tude{
  width: 100%;
  height: 200%;
  overflow: hidden;
}
.sections {
  width: 500%;
  height: 100%;
}

.sections2 {
  width: 500%;
  height: 100%;
  float: right;
}
.sections3 {
  width: 100%;
  height: 100%;
  float: left;
}
#js-slideContainer2{
  display: flex;
  flex-direction: row-reverse;
}
#js-slideContainer4{
  display: flex;
  flex-direction: row-reverse;
}
.section {
  height: 100vh;
  width: calc(100% / 5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section2 {
  height: 100vh;
  width: calc(100% / 5);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section3 {
  height: 100vh;
  width: calc(100% / 5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section4 {
  height: 100vh;
  width: calc(100% / 5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.tude{
  height: 200vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900672612244520971/image0.png");
}
.section-first {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section-end {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section-first-small {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
.section-end-small {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  float: left;
}
#Bac1 {
  width: 100%;
}

.Bacteria1 {
  width: 10%;
  height: 10%;
  position: absolute;
  top:50%;
  left: 10%;
  animation: up-down1 10s infinite ;
}

#Bac2 {
  width: 100%;
}

.Bacteria2 {
  width: 10%;
  height: 10%;
  position: absolute;
  top:30%;
  left: 40%;
  animation: up-down2 10s infinite ;
}

#Bac3 {
  width: 100%;
}

.Bacteria3 {
  width: 10%;
  height: 10%;
  position: absolute;
  top:70%;
  left: 70%;
  animation: up-down3 10s infinite ;
}

#Bac4 {
  width: 100%;
}

.Bacteria4 {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 90%;
  animation: up-down4 10s infinite ;
}

.water1{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 10%;
  animation: willdis1 10s infinite ;
}
.water2{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 40%;
  animation: willdis2 8s infinite ;
}
.water3{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 70%;
  animation: willdis3 7s infinite ;
}
.water4{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 90%;
  animation: willdis4 9s infinite ;
}
.water5{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: willdis5 6s infinite ;
}
.water6{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: willdis6 5s infinite ;
}
.water7{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 85%;
  animation: willdis7 8s infinite ;
}
.teinlek1{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: next 5s linear infinite ;
  opacity: 0;
}
.teinlek2{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: next 5s linear infinite ;
  animation-delay: 1s;
  opacity: 0;
}
.teinlek3{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: next 5s linear infinite ;
  animation-delay: 2s;
  opacity: 0;
}
.teinlek4{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 25%;
  animation: next 5s linear infinite ;
  animation-delay: 3s;
  opacity: 0;
}
.vertical1{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: verti 5s linear infinite ;
  animation-delay: 1s;
  opacity: 0;
}
.vertical2{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: verti 5s linear infinite ;
  animation-delay: 2s;
  opacity: 0;
}
.vertical3{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: verti 5s linear infinite ;
  animation-delay: 3s;
  opacity: 0;
}
.vertical4{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: verti 5s linear infinite ;
  animation-delay: 4s;
  opacity: 0;
}
.vertical5{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: verti 5s linear infinite ;
  animation-delay: 5s;
  opacity: 0;
}
@keyframes verti {
  0% {
    opacity: 0;
    top:0%;
    left: 15%;
  }
  25%{
    opacity: 1;
    top:25%;
    left: 15%;
  }
  50%{
    opacity: 1;
    top:50%;
    left: 15%;
  }
  75%{
    opacity: 1;
    top:67.5%;
    left: 15%;
  }
  100% {
    top: 67.5%;
    left: 0%;
    opacity:0;
  }
}
.travel1{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: nextback 5s linear infinite ;
  animation-delay: 1s;
  opacity: 0;
}
.travel2{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: nextback 5s linear infinite ;
  animation-delay: 2s;
  opacity: 0;
}
.travel3{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: nextback 5s linear infinite ;
  animation-delay: 3s;
  opacity: 0;
}
.travel4{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: nextback 5s linear infinite ;
  animation-delay: 4s;
  opacity: 0;
}
.travel5{
  width: 10%;
  height: 10%;
  position: absolute;
  animation: nextback 5s linear infinite ;
  animation-delay: 5s;
  opacity: 0;
}
@keyframes nextback {
  0% {
    opacity: 0;
    top:65%;
    right: 0%;
  }
  25%{
    opacity: 1;
    top:70%;
    right: 22.5%;
  }
  50%{
    opacity: 1;
    top:65%;
    right: 45%;
  }
  75%{
    opacity: 1;
    top:75%;
    right: 67.5%;
  }
  100% {
    top:65%;
    right: 90%;
    opacity: 0;
  }
}
@keyframes next {
  0% {
    opacity: 0;
    top:65%;
    left: 0%;
  }
  25%{
    opacity: 1;
    top:70%;
    left: 22.5%;
  }
  50%{
    opacity: 1;
    top:65%;
    left: 45%;
  }
  75%{
    opacity: 1;
    top:75%;
    left: 67.5%;
  }
  100% {
    top:65%;
    left: 90%;
    opacity: 0;
  }
}
@keyframes willdis1 {
  0% {
    opacity: 0;
    top:10%;
  }
  25%{
    top:15%;
    opacity: 0;
  }
  50%{
    top:10%;
    opacity: 1;
  }
  75%{
    top:15%;
    opacity: 1;
  }
  100% {
    top:10%;
    opacity: 0;
  }
}
@keyframes willdis2 {
  0% {
    opacity: 0;
    top:70%;
  }
  25%{
    top:65%;
    opacity: 0;
  }
  50%{
    top:70%;
    opacity: 1;
  }
  75%{
    top:65%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top:70%;
  }
}
@keyframes willdis3 {
  0% {
    
    top:30%;
    opacity: 0;
  }
  25%{
    top:35%;
    opacity: 0;
  }
  50%{
    top:30%;
    opacity: 1;
  }
  75%{
    top:35%;
    opacity: 1;
  }
  100% {
    top:30%;
    opacity: 0;
  }
}

@keyframes willdis4 {
  0% {
    top:50%;
    opacity: 0;
  }
  25%{
    top:40%;
    opacity: 0;
  }
  50%{
    top:50%;
    opacity: 1;
  }
  75%{
    top:40%;
    opacity: 1;
  }
  100% {
    top:50% ;
    opacity: 0;
  }
}
@keyframes willdis5 {
  0% {
    top:60%;
    opacity: 0;
  }
  25%{
    top:55%;
    opacity: 0;
  }
  50%{
    top:60%;
    opacity: 1;
  }
  75%{
    top:55%;
    opacity: 1;
  }
  100% {
    top:60% ;
    opacity: 0;
  }
}
@keyframes willdis6 {
  0% {
    top:20%;
    opacity: 0;
  }
  25%{
    top:25%;
    opacity: 0;
  }
  50%{
    top:20%;
    opacity: 1;
  }
  75%{
    top:25%;
    opacity: 1;
  }
  100% {
    top:20% ;
    opacity: 0;
  }
}
@keyframes willdis7 {
  0% {
    top:20%;
    opacity: 0;
  }
  25%{
    top:25%;
    opacity: 0;
  }
  50%{
    top:20%;
    opacity: 1;
  }
  75%{
    top:25%;
    opacity: 1;
  }
  100% {
    top:20% ;
    opacity: 0;
  }
}
@keyframes up-down4 {
  0% {
    top:10%;
  }
  25%{
    top:15%;
  }
  50%{
    top:10%;
  }
  75%{
    top:15%;
  }
  100% {
    top:10%;
  }
}
@keyframes up-down3 {
  0% {
    top:70%;
  }
  25%{
    top:65%;
  }
  50%{
    top:70%;
  }
  75%{
    top:65%;
  }
  100% {
    top:70%;
  }
}
@keyframes up-down2 {
  0% {
    top:30%;
  }
  25%{
    top:35%;
  }
  50%{
    top:30%;
  }
  75%{
    top:35%;
  }
  100% {
    top:30%;
  }
}

@keyframes up-down1 {
  0% {
    top:50%;
  }
  25%{
    top:40%;
  }
  50%{
    top:50%;
  }
  75%{
    top:40%
  }
  100% {
    top:50%;
  }
}

.shit{
  display: block;
  width: 35%;
  height: 10%;
  left: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: verti 5s linear infinite ;
  animation-delay: 5s;
  opacity: 0; */
}

.section:nth-child(1) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803263587745862/2.png");
}
.section:nth-child(2) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803274308415508/3.png");
}
.section:nth-child(3) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803279261872148/4.png");
}
.section:nth-child(4) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803291450519592/5.png");
}
.section:nth-child(5) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894809544381833236/6edit2.png");
}

.section2:nth-child(1) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894809444326715422/11edit2.png");
}
.section2:nth-child(2) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803291450519592/5.png");
}
.section2:nth-child(3) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803279261872148/4.png"  );
}
.section2:nth-child(4) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894803274308415508/3.png");
}
.section2:nth-child(5) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/894809510378631168/7edit2.png");
}

.section3:nth-child(1) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666505107222558/S2.png");
}
.section3:nth-child(2) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666520802299914/S3.png");
}
.section3:nth-child(3) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666559809355776/S4.png");
}
.section3:nth-child(4) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666588825522186/S5.png");
}
.section3:nth-child(5) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/901451075566043196/s6.png");
}

.section4:nth-child(1) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/901451079718416424/s7.png");
}
.section4:nth-child(2) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666652067246140/S8.png");
}
.section4:nth-child(3) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666679799980062/S9.png"  );
}
.section4:nth-child(4) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/900666690034073610/S10.png");
}
.section4:nth-child(5) {
  background-image: url("https://cdn.discordapp.com/attachments/874526652644884490/901464289980866560/11.png");
}

.layer {
  background-color: rgb(255 12 12 / 20%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-nochange {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
}
.content-tude {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
  opacity: 0;
}
.content {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
}
.content2 {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
}
.content3 {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
}
.content4 {
  width: 50%;
  color: #fff;
  position: relative;
  text-align: center;
}

.section p {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
}

.sectionTitle {
  font-size: 50px;
  margin-bottom: 0;
  font-weight: 400;
}
.sectionTitle-lamsai {
  font-size: 30px;
  font-weight: 400;
}
.sectionTitle-tude {
  font-size: 30px;
  font-weight: 400;
}
.sectionTitle-up{
  font-size: 50px;
}
.medium-size{
  font-size: 30px;
}
.small-size{
  font-size: 30px;
}

@media all and (max-width: 768px) {
  .content {
    width: 80%;
  }
  .content2 {
    width: 80%;
  }
  .content3 {
    width: 80%;
  }
  .content4 {
    width: 80%;
  }
}
#yai .wrapper{
  background-color: rgb(202, 183, 183);
}
#lek[data-active="0"] .wrapper {
  background-color: #f6c0ba;
    transition: all 0.7s;
}
#lek[data-active="1"] .wrapper {
  background-color: rgb(236, 142, 142);
  transition: all 0.7s;
}
#lek[data-active="0"] .sectionTitle-lamsai {
transform: scale(0);
transition: all 0.6s;
}
#lek[data-active="1"] .sectionTitle-lamsai  {
  transform: scale(2);
  transition: all 0.6s;
}
#lekpaiyai[data-active="0"] .wrapper {
background-color: rgb(236, 142, 142);
transition: all 0.7s;
}
#lekpaiyai[data-active="1"] .wrapper {
background-color: rgb(202, 183, 183);
  transition: all 0.7s;
}
#lekpaiyai[data-active="0"] .sectionTitle-lamsai {
  transform: scale(0);
  transition: all 0.6s;
}
#lekpaiyai[data-active="1"] .sectionTitle-lamsai  {
    transform: scale(2);
    transition: all 0.6s;
}
#tude{
  background-color: rgb(202, 183, 183);
}
#tude[data-active="0"]  {
  background-color: rgb(202, 183, 183);
  transition: all 0.6s;
}
#tude[data-active="1"]  {
  background-color: white;
  transition: all 0.6s;
}

#shit[data-active="0"] .content-nochange {
  transition: all 0.8s;
  transform: scale(0);
  opacity: 0;
}
#shit[data-active="1"] .content-nochange {
  transition: all 0.8s;
  transform: scale(1);
  color: black;
  opacity: 1;
}

#shit2[data-active="0"] .shit {
  transition: all 5s;
  top:0%;
}
#shit2[data-active="1"] .shit {
  transition: all 5s;
  top:100%;
}
#freedom[data-active="0"].content-tude {
  transition: all 0.8s;
  transform: scale(0);
  opacity: 0;
}
#freedom[data-active="1"] .content-tude {
  transition: all 0.8s;
  transform: scale(1);
  color: black;
  opacity: 1;
}


.teststicky {
  width: 280px; 
  height: 400px; 
  padding-left: 650px;
  position: -webkit-sticky; 
  position: sticky; 
  top: 200;
  z-index: 1;
  opacity: 1;
}
.teststicky:hover {
  opacity: 0;
}